<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your pothole has been reported as fixed.</h1>
    <p>Sign in to see which one got fixed!</p>

  </body>
</html>

