<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>A new pothole has been reported.</h1>
    <p>See pothole location below. The coordinates are <%= @pothole.lat %> and  <%= @pothole.lon %> </p>

  </body>
</html>

