<%= form_with model: pothole, local: true do |form| %>

    <div class = 'field'>
    	<%= form.label :duplicate %>
    	<%= form.select :duplicate,( ['false','true'])%>
    </div>   

    <div class = 'action'>
        <%= form.submit 'Edit', class: 'btn btn-primary' %>
    </div>
<% end %>