<%if user_signed_in? && User.find_by(id: current_user.id).theme? %>
<link rel="stylesheet" href="https://bootswatch.com/4/superhero/bootstrap.css"/>
<%end%>

<main role="main" class="container">

<h1> Rate a pothole </h1>

<%= form_with model: @Pothole, local:true do |form| %>

<div class ="field">
  <%= form.label :rating %>
  <%= form.select :rating, (['1','2','3','4','5','6','7','8','9','10']), class: 'form-control' %>
</div>

<div class="action">
  <%= form.submit 'Submit Rating', class: 'btn btn-primary'%>
  </div>
<% end %>


</main>