<%if user_signed_in? && User.find_by(id: current_user.id).theme? %>
<link rel="stylesheet" href="https://bootswatch.com/4/superhero/bootstrap.css"/>
<%end%>

<%= provide(:title, 'Edit Name')%>
<main role ='main' class='container'>

	<h1> Edit Pothole Name</h1>

	<%= render 'form_name', pothole: @pothole%>

	<p>
	<%= link_to 'Back', home_path, data: { turbolinks: false } %>
	</p>

</main>