<%if user_signed_in? && User.find_by(id: current_user.id).theme? %>
<link rel="stylesheet" href="https://bootswatch.com/4/superhero/bootstrap.css"/>
<%end%>
<h1>About Team Memholes</h1>

<ul>

<li>YOUR_LINKS_GO_HERE</li>

</ul>

<p>
<%= link_to "Home", home_path %>
</p>
